[Unit]
Description=Service container starter
After=snap.docker.dockerd.service network-online.target
Requires=snap.docker.dockerd.service network-online.target

[Service]
WorkingDirectory=/apps/lebowski-api
Type=oneshot
RemainAfterExit=yes

ExecStartPre=-/usr/local/bin/docker-compose pull --quiet
ExecStart=/usr/local/bin/docker-compose up -d --renew-anon-volumes

ExecStop=/usr/local/bin/docker-compose down

ExecReload=/usr/local/bin/docker-compose pull --quiet
ExecReload=/usr/local/bin/docker-compose up -d --renew-anon-volumes

[Install]
WantedBy=multi-user.target
